<div class="main">
  <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <div class="box" style="height: 370px">
            <img src="https://dl.dropboxusercontent.com/s/56hjn9kztggla7n/IMG-20151229-WA0000.jpg" alt="me" HEIGHT="330" WIDTH="240">
          </div>
        </div>
        <div class="col-sm-5">
  				<div class="box" style="height: 370px">
    				<p>I am a Finnish-French third year ICT student, majoring in software engineering at Metropolia UAS, Helsinki, Finland. I have moved around a lot, and continue to do so now: I am currently living in Portugal, all the while continuing my full-time studies online. Besides coding, I enjoy weight lifting, hiking and discovering new places and cultures.</p>
          </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row"><br></div>
  	<div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="box" style="height: 200px">
          <p>Some of my competencies:<br>
            <div class="font-l" style="font-size:200%;">
              <i class="devicon-html5-plain"></i><i class="devicon-ruby-plain"></i>
              <i class="devicon-css3-plain"></i><i class="devicon-php-plain"></i>
              <i class="devicon-mysql-plain"></i><i class="devicon-java-plain"></i>
              <i class="devicon-javascript-plain"></i><i class="devicon-python-plain"></i><br>
              <i class="devicon-csharp-plain"></i><i class="devicon-git-plain"></i>
              <i class="devicon-heroku-original"></i><i class="devicon-jquery-plain"></i>
              <i class="devicon-rails-plain"></i>
         		</div>
          </p>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="box" style="height: 200px">
          <p>While I am most experienced in web development, I am always excited to learn new things and push my own boundaries. Want to know more about my technical skills? Feel free to visit my portfolio or contact me, I will be glad to answer any questions you may have.</p>
        </div>
      </div>
      <div class="col-sm-1"></div>
 		</div>
  </div>
</div>
