<div class="main">
  <p>I am a Finnish-French second year ICT student, majoring in software engineering at Metropolia UAS, Helsinki, Finland. I have moved around a lot, and continue to do so now: I am currently living in France, but will go to Canada soon, all the while continuing my full-time studies online. Besides coding, I enjoy weight lifting, hiking and learning about new cultures.</p>
</div>