<div class="main">
  <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <div class="box" style="height: 370; width=240; overflow:hidden">
            <img src="https://dl.dropboxusercontent.com/s/1q5hcggbva8269v/Screenshot%202016-04-26%2015.35.46.png" alt="me" HEIGHT="330" WIDTH="240">
          </div>
        </div>
        <div class="col-sm-5">
  				<div class="box" style="height: 370; width=240;">
    				<p>I am a Finnish-French second year ICT student, majoring in software engineering at Metropolia UAS, Helsinki, Finland. I have moved around a lot, and continue to do so now: I am currently living in France, but will go to Canada soon, all the while continuing my full-time studies online. Besides coding, I enjoy weight lifting, hiking and discovering new places and cultures.</p>
          </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row"><br></div>
  	<div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <div class="box" style="height: 200; width=240;">
          <p>Some of my competencies:<br>
            <div class="font-l" style="font-size:200%;">
              <i class="devicon-html5-plain"></i><i class="devicon-ruby-plain"></i>
              <i class="devicon-css3-plain"></i><i class="devicon-php-plain"></i>
              <i class="devicon-mysql-plain"></i><i class="devicon-java-plain"></i>
              <i class="devicon-javascript-plain"></i><i class="devicon-python-plain"></i><br>
              <i class="devicon-csharp-plain"></i><i class="devicon-git-plain"></i>
              <i class="devicon-heroku-original"></i><i class="devicon-jquery-plain"></i>
              <i class="devicon-rails-plain"></i>
         		</div>
          </p>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="box" style="height: 200; width=240;">
          <p>I am on my way to becoming a professional web developer that will focus top-of-the-line front-end and UX. Want to know more about my technical skills? Feel free to visit my portfolio or contact me, I will be glad to answer any questions you may have.</p>
        </div>
      </div>
      <div class="col-sm-1"></div>
 		</div>
  </div>
</div>