<div class="main">
  <%= form_for(@contact) do |f| %>  
  	<div class="field"> 
    	<%= f.text_area :email %>
  	</div> 
  	<div class="actions"> 
    	<%= f.submit "Create" %> 
  	</div> 
	<% end %>
</div>

<!--
link to innovation cloud project (email signup form)
https://www.codecademy.com/en/courses/learn-rails/projects/learn-rails_innovation-cloud
!-->