<div class="main" style="height:600">
  <div class="container">
    <div class="padding">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="padding-top:100px; padding-bottom:50px">
  				<div class="box">
              <a href="mailto:subrlea@yahoo.fr">
                <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
              </a>&nbsp;&nbsp;
              <a href="https://fi.linkedin.com/in/subrenatlea">
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
              </a>&nbsp;&nbsp;
              <a href="https://github.com/leasubrenat">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
              </a>&nbsp;&nbsp;
              <a href="https://www.facebook.com/lea.subrenat">
                <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
              </a>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</div>
