<div class="main">
  <div class="banner">
    <ul>
      <li><img src="https://dl.dropboxusercontent.com/s/uxairz0jrrppbcl/TGTHB.png" alt="Tales of Gods and Treachery" HEIGHT=400 WIDTH=600></li>
      <li><img src="https://dl.dropboxusercontent.com/s/p8mbqzupjpl2fph/anh.png" alt="A.N.H." HEIGHT=400 WIDTH=600></li>
      <li><img src="https://dl.dropboxusercontent.com/s/6p33gjj6mwxgpzd/Untitled.png" alt="Gym Now" HEIGHT=400 WIDTH=600></li>
    </ul>
	</div>

  <!--grid: app's screenshot, title, description, link to live app!-->
  <div class="supporting">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/uxairz0jrrppbcl/TGTHB.png" alt="Tales of Gods and Treachery" HEIGHT=150 WIDTH=230></p>
            <p><a href="https://users.metropolia.fi/~joseu/tgthb/">Tales of Gods and Treachery</a></p>
            <p>This Python/MySQL text adventure game and its website were my first IT project.</p>
          </div>
        </div>
        <div class="col-sm-4">
        	<div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/p8mbqzupjpl2fph/anh.png" alt="A.N.H." HEIGHT=150 WIDTH=230></p>
            <p><a href="http://anhproject-anhproject.rhcloud.com">Agile Network for Hospitals</a></p>
            <p>A.N.H. is a Java/JavaScript chat app for hospital personnel.<br>
            Note: this project is currently being moved to another domain.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/6p33gjj6mwxgpzd/Untitled.png" alt="Gym Now" HEIGHT=150 WIDTH=230></p>
            <p><a href="https://users.metropolia.fi/~leasu/Webshop/View/index.php">Gym Now</a></p>
            <p>This webshop was made using PHP, HTML5 and CSS3.</p>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="box" style="height:300px;">
          <t1>A word from my previous employers</t1><br>
          <div class="recommendation">
            <p>Léa worked as an intern at the Finnish Broadcasting Company (Yle) for three months in the summer of 2016.
            Léa worked on two projects during the internship. (...) In both projects Léa's productivity was very high
             and she was able to deliver high quality code and increase the overall productivity of the team.
            </p>
            <p>Léa was exceptionally fast to learn new technologies, workflows, architectures and concepts.
              She often took the initiative to solve issues independently. She has a strong work ethic and great focus
              on what she is doing. As a consequence, she is certainly one of the best interns we have worked with.
            </p>
            <p>
              Co-signed by the Head of Interfaces and a fellow Web Developer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.unslider/1.0.0/unslider.min.js"></script>
