<div class="main">
  <div class="banner">
    <ul>
      <li><img src="https://dl.dropboxusercontent.com/s/a2s9o5moutpjunx/Screenshot%202016-04-23%2019.53.52.png" alt="Broadway" HEIGHT=400 WIDTH=600></li>
      <li><img src="https://dl.dropboxusercontent.com/s/3oau9l7hvw2zxb5/Screenshot%202016-04-23%2019.54.36.png" alt="Bolt" HEIGHT=400 WIDTH=600></li>
      <li><img src="https://dl.dropboxusercontent.com/s/8xgaumpg33lyb2l/Screenshot%202016-04-23%2019.55.31.png" alt="Innovation Cloud" HEIGHT=400 WIDTH=600></li>
    </ul>
	</div>
  
  <!--grid: app's screenshot, title, description, link to live app!-->
  <div class="supporting">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/a2s9o5moutpjunx/Screenshot%202016-04-23%2019.53.52.png" alt="Broadway" HEIGHT=150 WIDTH=230></p>
            <p><a href="http://leasubrenat-broadway.herokuapp.com">Broadway</a></p>
            <p>In this first Rails project, I familiarised myself with controllers, routes and views.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/3oau9l7hvw2zxb5/Screenshot%202016-04-23%2019.54.36.png" alt="Bolt" HEIGHT=150 WIDTH=230></p>
            <p><a href="http://http://leasubrenat-bolt-network.herokuapp.com">Bolt Network</a></p>
            <p>I deepened my knowledge of Rails routes and links.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/8xgaumpg33lyb2l/Screenshot%202016-04-23%2019.55.31.png" alt="Innovation Cloud" HEIGHT=150 WIDTH=230></p>
            <p><a href="http://leasubrenat-innovation-cloud.herokuapp.com">Innovation Cloud</a></p>
            <p>Here, I learned about Rails databases by creating an email signup.</p>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm-4">
          <div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/8v1wrvisj856z5s/Screenshot%202016-04-27%2013.54.00.png" alt="Tales of Gods and Treachery" HEIGHT=150 WIDTH=230></p>
            <p><a href="https://users.metropolia.fi/~joseu/tgthb/">Tales of Gods and Treachery</a></p>
            <p>This Python/MySQL text adventure game and its website were my first IT project.</p>
          </div>
        </div>
        <div class="col-sm-4">
        	<div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/f98m4tigc4jc2c7/Screenshot%202016-04-27%2014.25.05.png" alt="A.N.H." HEIGHT=150 WIDTH=230></p>
            <p><a href="http://anhproject-anhproject.rhcloud.com">Agile Network for Hospitals</a></p>
            <p>A.N.H. is a Java/JavaScript chat app for hospital personnel.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/juc4q9hvgzpjv9u/Screenshot%202016-04-29%2021.28.23.png" alt="Stories" HEIGHT=150 WIDTH=230></p>
            <p><a href="http://leasubrenat-stories.herokuapp.com/">Stories</a></p>
            <p>This is another Rails project with a sign up form.</p>
          </div>
        </div>
      </div><br>
       <div class="row">
        <div class="col-sm-4">
          <div class="box" style="height:300px;">
            <p><img src="https://dl.dropboxusercontent.com/s/gvwbwajj25bt8qe/Screenshot%202016-05-01%2014.59.44.png" alt="Gym Now" HEIGHT=150 WIDTH=230></p>
            <p><a href="https://users.metropolia.fi/~leasu/Webshop/View/index.php">Gym Now</a></p>
            <p>This webshop was made using PHP, HTML5 and CSS3.</p>
          </div>
        </div>
         <div class="col-sm-4"></div>
         <div class="col-sm-4"></div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.unslider/1.0.0/unslider.min.js"></script>