<div class="main">
  <div class="banner">
    <ul>
      <li><img src="https://dl.dropboxusercontent.com/s/a2s9o5moutpjunx/Screenshot%202016-04-23%2019.53.52.png" alt="Broadway" HEIGHT=400 WIDTH=550></li>
      <li><img src="https://dl.dropboxusercontent.com/s/3oau9l7hvw2zxb5/Screenshot%202016-04-23%2019.54.36.png" alt="Bolt" HEIGHT=400 WIDTH=550></li>
      <li><img src="https://dl.dropboxusercontent.com/s/8xgaumpg33lyb2l/Screenshot%202016-04-23%2019.55.31.png" alt="Innovation Cloud" HEIGHT=400 WIDTH=550></li>
    </ul>
	</div>
  
  <!--grid: app's screenshot, title, description, link to live app!-->
  <div class="supporting">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="box">
            <p><img src="https://dl.dropboxusercontent.com/s/a2s9o5moutpjunx/Screenshot%202016-04-23%2019.53.52.png" alt="Broadway" HEIGHT=150 WIDTH=230></p>
            <p><a href="http://leasubrenat-broadway.herokuapp.com">Broadway</a></p>
            <p>In this first ruby project, I familiarised myself with basic controllers, routes and views.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <p><img src="https://dl.dropboxusercontent.com/s/3oau9l7hvw2zxb5/Screenshot%202016-04-23%2019.54.36.png" alt="Bolt" HEIGHT=150 WIDTH=230></p>
            <p><a href="http://http://leasubrenat-bolt-network.herokuapp.com">Bolt Network</a></p>
            <p>Further routing.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <p><img src="https://dl.dropboxusercontent.com/s/8xgaumpg33lyb2l/Screenshot%202016-04-23%2019.55.31.png" alt="Innovation Cloud" HEIGHT=150 WIDTH=230></p>
            <p><a href="http://leasubrenat-innovation-cloud.herokuapp.com">Innovation Cloud</a></p>
            <p>Ruby databases (email registration).</p>
          </div>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
      </div>
      !-->
    </div>
  </div>
</div>