<div class="main">
  <div class="container">
    <div class="padding">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
  				<div class="box">
            <p>Hi, I'm L&#233;a and I like to make web apps.</p><br><br>
            <div id="no-turbo" data-no-turbolink>
              <form action="/portfolio">
                <input type="submit" value="View my Work">
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</div>
