<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Lea Subrenat</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
    </div>
</nav>
  
<div class="main">
  <p>
    Here is what I do.
  </p><br><br><br>
  <form action="/projects.html.erb">
    <input type="submit" value="View my Work">
	</form>
</div>

<footer class="footer">
  <div class="container">
    <a href="https://fi.linkedin.com/in/subrenatlea">
      <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/leasubrenat">
      <i class="fa fa-github fa-3x" aria-hidden="true"></i>
    </a>
	</div>
</footer>