/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.banner ul {
padding-left: 0;
}

.navbar-inverse {
  margin:0px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#no-turbo {
  padding:15px;
}

#no-turbo a {
 	color: #989898;
}

#no-turbo a:hover {
  text-decoration: none;
 	color: #ffffff;
}

body {
  min-height: 100%;
  padding: 0 0 100px;
  position: relative;
}

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100px;
  margin-top: -100px;
  clear:both;
  text-align: center;
	padding: 40px;
  background-color: #202020;
  color:#404040;
}

.footer i {
  color: #989898;
}

.footer li {
  display:inline;
}

.unslider{overflow:auto;margin:0;padding:0}
.unslider-wrap{position:relative}
.unslider-wrap.unslider-carousel>
li{float:left}.unslider-vertical>
ul{height:100%}
.unslider-vertical li{float:none;width:100%}
.unslider-fade{position:relative}
.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{z-index:10}
.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}
.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}
.unslider-arrow.next{left:auto;right:20px}