// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main { 
    background: url(https://dl.dropboxusercontent.com/s/9ur7e43bsivlo5l/20151228_144341.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  overflow:auto;
  padding-bottom:250px;
  padding-top:200px;
  font-size:medium;
}

input[type=submit] {
  padding:5px 15px; 
  background:#202020; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #989898;
}

.supporting {
  padding-top: 80px;
}

.box {
  background-color: rgba(192,192,192,0.6);
  padding: 20px;
}

.box a {
 color: #000000;
 font-style: bold;
}